body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #007bff;
    padding: 7px 175px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 5px 10px #38B6FF;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin-right: 380px;
    padding: 0;
}

.navbar-menu li {
    margin-left: 30px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .user-link {
    color: white;
    text-decoration: none;
}

.user-info .user-link span {
    font-size: 16px;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding-top: 60px; 
}

.container {
    flex: 1;
    padding: 20px;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-left: 170px;
    margin-right: 170px;
}

.titulo1 {
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
}

.titulo2 {
    font-size: 17px;
}

.atras {
    text-align: left;
    margin-top: 70px;
    color: rgb(85, 85, 255);  
}


.titulo-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 170px;
    margin-right: 330px;
}


.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
    width: 200px;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    background: #38B6FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #95e1ff;
  }

  .boton {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #38B6FF;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-left: 722px;
    margin-bottom: 20px; 
}

.boton:hover {
    background-color: #95e1ff;
}

.buscar-container {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 650px;
    margin-top: 80px;
}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    width: 200px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
  }
  
  .logout {
    color: rgb(255, 86, 86);
    font-weight: bold;
  }
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.usuariosLista {
    margin-left: 320px;
}




