.user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    margin-top: 40px;
    max-width: 800px; 
    margin-left: 310px;
  }
  
  .user-avatar1 {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info1 {
    display: flex;
    flex-direction: column;
    margin-right: 420px;
  }
  
  .user-name1 {
    font-weight: bold;
  }
  
  .user-xp-id {
    font-size: 0.9em;
    color: #55bb59;
    font-weight: bold;
  }
  
  .user-actions {
    display: flex;
    gap: 10px;
  }
  
  .edit-button,
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
  }
  
  .edit-button {
    color: rgb(121, 121, 255);
  }
  
  .edit-button:hover {
    color: rgb(91, 91, 224);
  }
  
  .delete-button {
    color: rgb(255, 81, 81);
  }
  
  .delete-button:hover {
    color: rgb(209, 50, 50);
  }
  